body {
  font-family: 'Amatic SC', cursive, verdana, arial, helvetica, sans-serif;
  background-color: #F5F5F5;
  color: #444;
}

header, footer {
  padding: 30px 0;
  margin: 20px 0;
  font-size: 2em;
}

footer {
  font-size: 1em;
}

.text {
  font-size: 4em;
  text-align: justify;
}

.author {
  font-size: 2em;
  text-align: right;
}

.button {
  position: absolute;
  top: 10px;
  right: 20px;
}

a {
  color: #000;
}

a:visited {
  color: #666;
}

a:hover {
  color: #fff;
  background-color: #000;
}
@media screen and (min-width: 600px) {
  body {
    width: 80%;
    margin: 0 auto;
  }
}
