<!DOCTYPE html>
<html>
<head>
  <title>Вдохновляющие цитаты на все времена</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
<header>
  Вдохновляющие цитаты на все времена. Сейчас вам выпала вот такая:
</header>
<section>
  <%= yield %>
</section>
<footer>
  <table width="100%">
    <td>
      <a href="https://github.com/RobBikmansurov">GitHub</a>
    </td>
    <td>
      <a href="https://www.forbes.ru/forbeslife/dosug/262327-na-vse-vremena-100-vdokhnovlyayushchikh-tsitat">Источник</a>
    </td>
  </table>
</footer>

</body>
</html>
